*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --initial-color:white;
}

body{
  background-image: url('https://source.unsplash.com/random/?nature/1366×768');
  background-repeat: no-repeat;
  background-size: 100%;
}


.cursor-pointer{
  cursor: pointer;
}

.todo-names{
  font-size: 1.3rem;
}

.extension-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.extension-time{
  font-size: 10rem;
  color:var(--initial-color)
}

.main-focus{
  display: flex;
  flex-direction: column;
  position: relative;
}

.ToDo-modal-container{
  position: fixed;
  right:2.5rem;
  bottom: 4.5rem;
}

.ToDo-button{
  position: fixed;
  right:2.5rem;
  bottom: 2rem;
  color:var(--initial-color);
}

.Countinue-btn{
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  background-color: inherit;
  border: none;
  border: 2px solid var(--initial-color);
  color:var(--initial-color);
}

.ToDo-modal{
  height: 15rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--initial-color);
  border-radius: 0.4rem;
}

.todo-input{
  border: none;
  font-size: 1.3rem;
  width: 13rem;
}

.todo-add{
  background-color: black;
  color: var(--initial-color);
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.todo-input:focus{
  outline: none;
}

.main-heading{
  color: var(--initial-color);
  font-size: 3rem;
}

.todo-input-button{
  margin: 1rem;
}

.todo-container{
  display: flex;
}

.detail-input{
  background-color: inherit;
  border: none;
  border-bottom: 2px solid var(--initial-color);
  margin-bottom: 1rem;
  width: 25rem;
  font-size: 2rem;
  color:var(--initial-color);
}


.detail-input:focus{
  outline: none;
}


.weather{
  position: fixed;
  top: 2rem;
  right: 2.5rem;
  color: var(--initial-color);
}

.weather-modal{
  height: 15rem;
  width: 22rem;
  background-color: var(--initial-color);
  border-radius: 0.2rem;
  display: flex;
}

.weather-modal-container{
  position: fixed;
  top: 5rem;
  right: 2rem;
}

.modal-temp{
  align-self: center;
  font-size: 2rem;
  position: relative;
}

.location-container{
  padding: 1rem;
}

.degree-symbol-modal{
  position: absolute;
  top: 2.5rem;
  left: 4.5rem;
  font-size: 4rem;
}

.weather-details{
  padding: 1rem;
}

.degree-symbol{
  position: absolute;
  top:0;
  left: 1.9rem;
}
