*{
  box-sizing: border-box;
}

:root{
  --initial-color:rgb(255, 255, 255);
}

body{
  background-image: url('https://source.unsplash.com/random/?nature/1366×768');
  background-repeat: no-repeat;
  background-size: 100%;
}


.extension-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.extension-time{
  font-size: 10rem;
}

.Countinue-btn{
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  background-color: inherit;
  border: none;
  border: 2px solid var(--initial-color);
  color: var(--initial-color);
}

.ToDo-modal{
  background-color: var(--initial-color);
  height: 12rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.main-heading{
  color: var(--initial-color);
}

.detail-input{
  background-color: inherit;
  border: none;
  border-bottom: 2px solid var(--initial-color);
  margin-bottom: 1rem;
  width: 25rem;
  font-size: 2rem;
  color:var(--initial-color);
}


.detail-input:focus{
  outline: none;
}